<!-- 2 -->
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Article list</title>
    <!-- 1 -->
    <!-- <link rel="stylesheet" href="/static/style.css"> -->

    <!-- 2 -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png' %}" alt=""></a></h1>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
